<p id="notice"><%= notice %></p>


<div class="col-md-3" id="leftside">
</div>

<div class="col-md-6" id="middle">

  <h1> Hi, my name is

  <%= @teacher.name %>

</h1>



</div>
<div class="col-md-3">

  <p>
  <strong>Last name:</strong>
  <%= @teacher.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @teacher.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @teacher.password %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @teacher.mobile %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @teacher.birthdate %>
</p>

  <%= image_tag(@teacher.picture) %>


<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>

</div>