<div class="col-md-6 links">
<h1>Information</h1>
<ul>
<li><%= link_to "About", static_pages_about_path %></li>
<li><%= link_to "FAQ", static_pages_faq_path %></li>
<li><%= link_to "Cancellation", static_pages_cancellation_path %></li>
<li><%= link_to "Contact", static_pages_contact_path %></li>
<li><%= link_to "Terms of use & Privacy Policy", static_pages_tou_path %></li>
</ul>

</div>




<div class="col-md-6 followus">

<ul>
<li>Follow us on:</li>
<li>Facebook</li>
<li>Twitter</li>
<li>Google+</li>
</ul>
</div>




