<%= form_for Klass.new, layout: :basic do |f| %>
  <% if @klass.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@klass.errors.count, "error") %> prohibited this klass from being saved:</h2>

      <ul>
      <% @klass.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<%= f.fieldset 'Required data' do %>
    <%= f.text_field :title %>
    <%= f.date_field :date %>
    <%= f.time_field :time %>
    <%= f.text_field :place %>
    <%= f.number_field :price, prefix: "$" %>
<% end %>

<%= f.fieldset 'Nice to have' do %>
    <%= f.text_area :description %>
<% end %>

    <!--Sets User ID -->
    <% if current_user %>
    <%= f.hidden_field :user_id, :value => current_user.id%>
    <% else %>
    <%= f.hidden_field :user_id, :value => User.count+1 %>
    <% end %>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
