<p id="notice"><%= notice %></p>

<div class="col-md-4 leftside">

  <%= render "maps/leftside_map" %>

</div>
<div class="col-md-8 middle">

  <div id="class_post">
    <h1>Listing Classes</h1>
    <% @klasses.where(:listed => true).each do |klass| %>
      <li>
          <div class="dealbox">
              <div id="dealheader">
                  <%= klass.title %>
              </div>
                 <div class="dealpad">
                  <div class="row">
                    <div class="col-md-6">
                      <%= klass.place %><br>
                      <%= klass.date %>
                    </div>  
                     <div class="col-md-6">

                     <%= button_to "From: #{klass.price}₪", klass, :method => "get", class: 'button' %>
              Session
                  </div>
                </div>
              </div>
          </div>
      </li>
    <% end %>

  </div>



</div>

