<p id="notice"><%= notice %></p>


<div class="col-md-4" id="leftside">
<h1>About your teacher</h1>
</br>

<p>
  <strong>Name:</strong>
  <%= link_to @klass.teacher.name, teacher_path %>
</p>

  <%= image_tag(@klass.teacher.picture) %>

</div>
<div class="col-md-6" id="middle">


<h1>  <%= @klass.title %></h1>




<p>
  <strong>Description:</strong>
  <%= @klass.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @klass.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @klass.time %>
</p>

<p>
  <strong>Place:</strong>
  <%= @klass.place %>
</p>

<p>
  <strong>Price:</strong>
  <%= @klass.price %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @klass.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @klass.longitude %>
</p>

<%= link_to 'Edit', edit_klass_path(@klass) %> |
<%= link_to 'Back', klasses_path %>
</div>
<div class="col-md-2">
</div>


