
<p id="notice"><%= notice %></p>


<div class="col-md-3" id="leftside">
<h1>About your teacher</h1>
</br>

<div id="teacher-box">
<p>
  <strong>Name:</strong>
  <b><%= link_to @klass.user.name, user_path %></b>
</p>

  <%= image_tag(@klass.user.picture, size: '315x350') %>

</div>
</div>
<div class="col-md-6" id="middle">


<h1>  <%= @klass.title %></h1>




<p>
  <strong>Description:</strong>
  <%= @klass.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @klass.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @klass.time %>
</p>

<p>
  <strong>Place:</strong>
  <%= @klass.place %>
</p>

<p>
  <strong>Price:</strong>
  <%= @klass.price %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @klass.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @klass.longitude %>
</p>


<%= form_for Booking.new, layout: :basic do |f| %>
  <% if @klass.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@klass.errors.count, "error") %> prohibited this klass from being saved:</h2>

      <ul>
      <% @klass.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :klass_id, :value => @klass.id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Edit', edit_klass_path(@klass) %> |
<%= link_to 'Back', klasses_path %>
</div>
<div class="col-md-3">
</div>


